* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#movies-card-container {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

header {
  display: flex;
  background-color: rgb(94, 96, 96);
  margin: 0px;
  justify-content: space-between;
  padding-left: 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin: 16px;
}
.sorting-options {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.sorting-button {
  width: 220px;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.tab {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin: 16px;
}

.favorites-tab {
  width: 100px;
  height: 30px;
}

.all-tab,
.favorites-tab {
  cursor: pointer;
  width: 80px;
  border-radius: 6px;
}

/* THis is a class for active tabs .... */
.active-tab {
  background-color: rgb(60, 57, 57);
  color: white;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  /* max-width: 800px;
  margin: 0 auto;
  padding: 20px; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.card {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
}

.poster {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  object-fit: cover;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.votes-favorites {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.votes {
  display: flex;
  flex-direction: column;
}

.vote-count {
  font-size: 14px;
  color: #888;
  margin-bottom: 5px;
}

.vote-rating {
  font-size: 14px;
  color: #888;
}

.favorites {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.favorites:hover {
  color: #ff3030;
}

.fa-heart.fa-solid {
  color: #ff3030;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-button {
  padding: 10px;
  margin: 0 5px;
  background-color: #ddd;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-button:hover {
  background-color: #ccc;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#search-input {
  padding: 10px;
  width: 30%;
  border-color: rgb(205, 128, 128);
  border-radius: 10px;
  margin-right: 10px;
}

#search-button {
  padding-left: 10px;
  width: 100px;
  background-color: #171616;
  border: 10px;
  border-radius: 4px;
  color: #f8f3f3;
  cursor: pointer;
}

.search-button:hover {
  background-color: #555;
}

.sorting-button {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.sorting-button {
  padding: 8px;
  background-color: #ebe8e8;
  border: none;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  margin-right: 10px;
}

.sorting-button:hover {
  background-color: #555;
}

.tab-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-button {
  padding: 10px;
  background-color: #888;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
}

.tab-button:hover {
  background-color: #555;
}

.footer {
  background-color: rgb(94, 96, 96);
  margin-top: 50px;
  padding: 20px;
  gap: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: rgb(220, 168, 131);
}
.contacts {
  padding: 20px;
}
